html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 1170px;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-left: 25px;
}

.hexagon {
  margin-bottom: -8px;
}

.number-one {
  transform: translate(15px, -55px);
  padding: 0;
  margin-bottom: -48px;
  font-family: Roboto Mono;
  color: #FFF;
  flex-shrink: 0;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.mobile-easier-to-use {
  display: none;
}

.easier-to-use {
  width: 33px;
  height: 59%;
  margin: 68px 4px 54px 11px;
  writing-mode: tb-rl;
  transform: rotate(-180deg) translateY(300px);
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto Mono;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px; /* 186.667% */
  letter-spacing: 1.782px;
}

.logo-container {
  width: 364px;
  height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 146px;
  height: 182px;
}

.info {
  width: 718px;
  height: 100%;
  background-color: #f7f7f7;
}

h1 {
  color: #383838;
  font-family: Roboto;
  font-size: 23px;
  font-style: italic;
  font-weight: 700;
  line-height: 28px; /* 121.739% */
  margin: 80px 159px 10px 93px;
}

.info-paragraph {
  width: 509px;
  height: 100px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin: 0px 116px 82px 93px;
}

.light-grey-arrow {
  position: relative;
  width: 67.142px;
  height: 67.142px;
  flex-shrink: 0;
  transform: translate(460px, -35px);
}

.dark-grey-arrow {
  position: relative;
  width: 67.142px;
  height: 67.142px;
  flex-shrink: 0;
  transform: translateX(100px);
}

@media screen and (max-width: 1169px) {
  .logo-container {
    width: 300px;
  }

  .info {
    width: 650px;
  }

  .info-paragraph {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .dark-grey-arrow {
    width: 65px;
    height: 65px;
    transform: translateX(75px);
  }

  .light-grey-arrow {
    width: 65px;
    height: 65px;
    transform: translate(440px, -65px);
  }
}

@media screen and (max-width: 1000px) {
  main {
    height: 250px;
  }

  .etu-svg {
    width: 40px;
    height: 250px;
  }

  .easier-to-use {
    margin: 100px 0 0 5px;
  }

  .logo-container {
    width: 250px;
  }

  .logo {
    height: 130px;
    width: 100px;
  }

  .info {
    width: 500px;
  }

  .info-paragraph {
    font-size: 12px;
    margin-left: 10%;
    line-height: 18px;
    width: 400px;
  }

  h1 {
    font-size: 14px;
    margin-top: 15%;
    margin-left: 10%;
  }

  .dark-grey-arrow {
    width: 55px;
    height: 55px;
    transform: translateX(70px);
  }

  .light-grey-arrow {
    width: 55px;
    height: 55px;
    transform: translate(350px, -75px);
  }
}

@media screen and (max-width: 800px) {
  main {
    height: 200px;
    margin-left: 12px;
  }

  .etu-svg {
    height: 200px;
  }

  .logo {
    height: 110px;
    width: 90px;
  }

  .easier-to-use {
    margin: 130px 0 0 5px;
    font-size: 8pt;
  }

  .logo-container {
    width: 200px;
    margin-left: -5px;
  }

  .info {
    width: 400px;
  }

  .info-paragraph {
    font-size: 8px;
    margin-left: 8%;
    width: 300px;
  }

  h1 {
    font-size: 10px;
    margin-left: 8%;
    width: 400px;
  }

  .hexagon {
    height: 35px;
    width: 35px;
    margin-bottom: -6px;
  }

  .number-one {
    font-size: 16px;
    margin-top: 28px;
    margin-left: -4px;
  }

  .dark-grey-arrow {
    width: 45px;
    height: 45px;
    transform: translateX(50px);
  }

  .light-grey-arrow {
    width: 45px;
    height: 45px;
    transform: translate(300px, -100px);
  }
}

@media screen and (max-width: 700px) {
  *:not(title, html) {
    all: unset;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .easier-to-use, .etu-svg {
    display: none;
  }

  .number-one {
    margin: 5px 0 -38px -32px;
  }
  
  .hexagon {
    width: 46px;
    height: 52px;
    margin: 10px;
    z-index: 2;
  }

  .hexagon-wrapper {
    display: inline-block;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color:white;
  }

  .easier-to-use-container {
    width: 375px;
  }

  .mobile-easier-to-use {
    display: flex;
    flex-shrink: 0;
    background: linear-gradient(180deg, #CCC 0%, rgba(133, 133, 133, 0.28) 100%);
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto Mono;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px; /* 186.667% */
    letter-spacing: 1.782px;
    height: 48px;
    width: 375px;
  }

  .mobile-etu-text {
    width: 222.5px;
    height: 33px;
    flex-shrink: 0;
    margin-top: 11px;
  }

  .logo-container {
    width: 375px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .logo {
    width: 147px;
    height: 184px;
    flex-shrink: 0;
    margin-top: 40px;
  }

  .info {
    width: 375px;
    height: 340px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: #383838;
    font-family: Roboto;
    font-size: 21px;
    font-style: italic;
    font-weight: 700;
    line-height: 28px; /* 133.333% */
    margin: 57px 41px 12px 45px;
  }

  .info-paragraph {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 0 43px 105px 47px;
  }

  .dark-grey-arrow {
    width: 67.142px;
    height: 67.142px;
    flex-shrink: 0;
    bottom: -20px;
    transform: translateX(0px);
  }

  .light-grey-arrow {
    width: 67.142px;
    height: 67.142px;
    flex-shrink: 0;
    bottom: 22px;
    transform: translateX(160px);
  }
}

@media screen and (max-width: 400px) {
  .banner {
    width: 70%;
    height: 100%;
    border-left: white 150px solid;
    border-right: white 150px solid;
  }
}